venv/
.venv/
env/
.env/
ENV/
*.env

.env
.env.*
!.env.example

__pycache__/
*.pyc
*.pyo
*.pyd

build/
dist/
*.egg-info/
*.egg
*.whl

.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*~
.DS_Store

*.log

.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml

# Jupyter Notebook
.ipynb_checkpoints

*.db
*.sqlite
*.sqlite3